<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="https://tietomeri.ukuli.fi"><span class="glyphicon glyphicon-home"></span> Tietomeri</a>
      </li>
      <li>
        <a href="https://tietomeri.ukuli.fi/tietomeri"><span class="glyphicon glyphicon-user"></span> Mikä Tietomeri on?</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Lisätietoa <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://tietomeri.ukuli.fi/kauppa">Osta tuotteitamme!</a></li>
            <li><a href="https://tietomeri.ukuli.fi/kysymys-ja-vastaus">Kysymys ja vastaus -palsta</a></li>
            <li class="divider"></li>
            <li><a href="https://tietomeri.ukuli.fi/blogi">Lue blogiamme</a></li>
            <li><a href="https://ukuli.fi">Mikä on Ukuli Data?</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://tietomeri.ukuli.fi/wp-login.php"><span class="glyphicon glyphicon-book"></span> Kirjaudu sisään</a>
      </li>
    </ul>
  </div>
</nav>
