<nav class="navbar navbar-default navbar-inverse sticky-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="https://tietomeri.ukuli.fi"><i class="fal fa-alien-monster"></i> Tietomeri</a>
      </li>
      <li>
        <a href="https://tietomeri.ukuli.fi/tietomeri"><i class="fab fa-raspberry-pi"></i> Mikä Tietomeri on?</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-robot"></i> Lisätietoa Tietomerestä<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://tietomeri.ukuli.fi/kauppa"><i class="fas fa-shopping-cart"></i> Osta Tietomeri ja muita tuotteita</a></li>
            <li><a href="https://tietomeri.ukuli.fi/iota"><i class="fas fa-chart-line"></i> Osta IOTA-kryptovaluuttaa</a></li>
            <li class="divider"></li>
            <li><a href="https://tietomeri.ukuli.fi/blogi"><i class="fas fa-glasses"></i> Lue blogiamme</a></li>
            <li><a href="https://ukuli.fi"><i class="fas fa-chalkboard-teacher"></i> Mikä on Ukuli Data?</a></li>
            <li class="divider"></li>
            <li><a href="https://tietomeri.ukuli.fi/kysymys-ja-vastaus"><i class="fas fa-question-circle"></i> Kysymys ja vastaus -palsta</a></li>
            <li><a href="https://tietomeri.ukuli.fi/kayttoohjeet"><i class="fas fa-book"></i> Käyttöohjeet</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://tietomeri.ukuli.fi/wp-login.php"><i class="fas fa-user-astronaut"></i> Käyttäjätilisi</a>
      </li>
    </ul>
  </div>
</nav>
